<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GQuestion</title>
    <style>
      body {
        background-color: #1f44b5;
        color: white;
        font-family: Arial, sans-serif;
        font-size: 18px;
        text-align: center;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <h1>ERRO (<%= code %>)</h1>
    <p><%= message %></p>
  </body>
</html>
